.App {
  text-align: center;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  background-color: #f8f9fa !important;
}
.react-cont {
  margin-top: 130px;
}
.validation-error {
  font-size: 0.8em;
  color: #dc3545;
  font-style: italic;
}
h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cp {
  cursor: pointer;
}
/* color */
.c-white {
  color: #fff !important;
}
.c-green {
  color: rgb(21, 172, 71) !important;
}
.c-red {
  color: #e64141 !important;
}
.bg-red {
  background: #e64141 !important;
}
.bg-green {
  background: #41e673 !important;
}
.c-twitter {
  color: #1da1f2;
}
.b-nav {
  background-color: #313830;
}
.c-gray {
  color: #657786;
}
/* bg-color */

/* font-size */
.text15 {
  font-size: 15px !important;
}
.text18 {
  font-size: 18px !important;
}
.text19 {
  font-size: 19px !important;
}
.text20 {
  font-size: 20px !important;
}
.text25 {
  font-size: 25px !important;
}
.text22 {
  font-size: 22px !important;
}
.text30 {
  font-size: 30px !important;
}
.text40 {
  font-size: 40px !important;
}

.bold {
  font-weight: bold;
}
.ft400 {
  font-weight: 600 !important;
}
.ft500 {
  font-weight: 500 !important;
}
/* margin */
.p-col {
  padding: 0 10px !important;
}

/* box */
.box {
  box-shadow: 0 0 2px #555;
  background-color: #fff;
  color: #222;
  margin: 10px 0;
  border-radius: 5px;
  position: relative;
}
.box-rounded {
  border-radius: 15px !important;
  background-color: red;
}

/* search */
.active-cyan-2 input[type="text"]:focus:not([readonly]) {
  border-bottom: 1px solid #1da1f2;
  box-shadow: 0 1px 0 0 #1da1f2;
}
.active-cyan input[type="text"] {
  border-bottom: 1px solid #1da1f2;
  box-shadow: 0 1px 0 0 #1da1f2;
}
.active-cyan .fa,
.active-cyan-2 .fa {
  color: #1da1f2;
}
.btn-more {
  text-decoration: none;
  cursor: pointer;
  /* max-width: 60px;
  text-align: center; */
}
.tags {
  color: #fff;
  font-size: 20px;
  border: 1px solid #555;
  background-color: #1da1f2;
}

.username a {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}
.username a:hover {
  color: #fff;
}
.dp-user a {
  color: #222;
  font-size: 18px;
}
.dp-user a:hover {
  text-decoration: none;
  color: #aaa;
}
.error-alert {
  position: relative;
}
.e-alert-alert {
  position: absolute;
  top: -60px;
  left: -110px;
  width: 200px;
}
.my-col {
  width: 31%;
  margin-right: 25px;
}

.alertFav {
  z-index: 5;
  width: 100%;
  position: absolute;
  bottom: -70px;
  left: 0;
}
.abs-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.box-live {
  padding: 10px;
  box-shadow: 0 0 2px #555;
  background-color: #fff;
  color: #222;
  margin: 10px 0;
  border-radius: 5px;
  position: relative;
}
